<html>
    <head>
        <title>The Alchemy Station</title>
        <h1 align="center">The Alchemy Station</h1>
    </head>
    <body>
        <p>Coctelería clasica:</p>
        <ul>
            <li><a href="/Amaretto-Sour">Amaretto Sour</a></li>
            <li><a href="/Americano">Americano</a></li>
            <li><a href="/Bellini">Bellini</a></li>
            <li><a href="/Black-Russian">Black Russian</a></li>
            <li><a href="/Boulevardier">Boulevardier</a></li>
            <li><a href="/Bronx">Bronx</a></li>
            <li><a href="/Cosmopolitan">Cosmopolitan</a></li>
            <li><a href="/Daiquiri-Clasico">Daiquiri Clasico</a></li>
            <li><a href="/Dry-Martini">Dry Martini</a></li>
            <li><a href="/Espresso-Martini">Espresso Martini</a></li>
            <li><a href="/Gin-Tonic">Gin Tonic</a></li>
            <li><a href="/John-Collins">John Collins</a></li>
            <li><a href="/Long-Island-Iced-Tea">Long Island Iced Tea</a></li>
            <li><a href="/Mai-Tai">Mai-Tai</a></li>
            <li><a href="/Manhattan">Manhattan</a></li>
            <li><a href="/Margarita">Margarita</a></li>
            <li><a href="/Mimosa">Mimosa</a></li>
            <li><a href="/Negroni">Negroni</a></li>
            <li><a href="/Old-Fashioned">Old Fashioned</a></li>
            <li><a href="/Piña-Colada">Piña Colada</a></li>
            <li><a href="/Pisco-Sour">Pisco Sour</a></li>
            <li><a href="/Presidente">Presidente</a></li>
            <li><a href="/White-Lady">White Lady</a></li>
            <li><a href="/Whisky-Sour">Whisky Sour</a></li>
            <li><a href="/White-Russian">White Russian</a></li>
        </ul>
        <p>Coctelería Moderna</p>
        <ul>
            <li>Aperol Spritz</li>
            <li>Basil Smash</li>
            <li>Blue Ocean</li>
            <li>Caipiriñha</li>
            <li>Caipi de Durazno</li>
            <li>Campari Tonic</li>
            <li>Cuba Libre</li>
            <li>Cynar Julep</li>
            <li>Daiquiri Frozen</li>
            <li>Destornillador</li>
            <li>Fernet Cola</li>
            <li>Fuzzy Navel</li>
            <li>Gancia Batido</li>
            <li>Gancia Soho</li>
            <li>Garibaldi</li>
            <li>Margarita Frozen</li>
            <li>Mint Julep</li>
            <li>Mojito</li>
            <li>Piel de Iguana</li>
            <li>Piscola</li>
            <li>Sex on the Beach</li>
            <li>Tequila Sunrise</li>
            <li>Vodka Tonic</li>
        </ul>
    </body>
</html>